{% extends  'tadeus_portal/base_card.html' %}
{% load render_table from django_tables2 %}
{% load socialaccount %}


{% block content %}

<div class="card ">
    <div class="card-header">
        Welcome to TADeus2!
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-6">

                 {% include 'tadeus/translocation_form.html' %}

            </div>

            <div class="col-md-6">

                {% include 'tadeus/tadeus_info.html' %}

            </div>
        </div>
    </div>
</div>

<!--

<div class="card" style="margin-top: 40px">
    <div class="card-header">
        Use cases
    </div>
    <div class="card-body">

    {% if table %}
        {% render_table table %}
    {% endif %}


    </div>
</div>-->


{% endblock %}
