{% load static %}

<div class="row">
    <div class="col-md-12">
        <div class="card  border-primary ">
            <div class="card-header bg-primary text-white">
                Short video tutorial
            </div>
            <div class="card-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hzXX9At_xhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12" style="margin-top: 20px">
        <div class="card  border-primary ">
            <div class="card-header bg-primary text-white">
                Structural variation evaluation
            </div>
            <div class="card-body">

                <p>TADeus2 is a web service dedicated for clinical evaluation of variants in genes whose expression may be affected by structural variants.</p>

                <p>TADeus2:</p>

                <ul>
                    <li>provides a view of the regulatory landscape of regions surrounding breakpoints of the structural variant</li>
                    <li>predicts pathogenicity of structural variants</li>
                    <li>prioritizes genes using haploinsufficiency score, number of interrupted enhancer-promoter interactions, the distance from the breakpoints, and the phenotypic data</li>
                </ul>

                <p>TADeus2 can serve as a genomic browser that shows Hi-C matrices with one-dimensional genomic data and allows users to compare Hi-C data from different tissues. </p>

                {% include 'help/figure.html' with title='Graphical abstract' img_src='graphical_abstract.png' no='1' %}

            </div>
        </div>
    </div>
</div>
