{% load static %}

<div class="row">
    <div class="col-md-12">
        <div class="card  border-primary ">
            <div class="card-header bg-primary text-white">
                Structural variation evaluation
            </div>
            <div class="card-body">

                {% if user.is_authenticated %}
                    <p>Welcome {{ user.username }} !!!</p>
                {% endif %}

                <p>TADeus2 is an web service dedicated for clinical evaluation of variants in genes whose expression may be affected by structural variants.</p>

                <p>TADeus2:</p>

                <ul>
                    <li>provides a view of regulatory landscape of regions surrounding breakpoints of the structural variant</li>
                    <li>predicts pathogenicity of structrual variants</li>
                    <li>prioritizes genes using haploinsufficiency score, number of interrupted enhancer-promoter interactions, the distance from the breakpoints, and the phenotypic data</li>
                </ul>

                <p>TADeus2 can serve as a genomic browser that shows Hi-C matrices with one-dimensional genomic data and allows users to compare Hi-C data from different tissues. </p>

                <img class="img-fluid" src="{% static 'foxg1.png' %}" alt="Plot"/>


            </div>
        </div>
    </div>
</div>
