<div class="row">
    <div class="col-md-12">

        <form action="{% url 'evaluation:evaluate_translocation' %}" method="get">
            {% csrf_token %}
            <div class="card  border-primary">
                <div class="card-header bg-primary text-white">
                    Translocation evaluation
                </div>
                <div class="card-body">

                    {% include 'tadeus/breakpoint_form.html' with chromosome=trans_form.chrom1 coordinate=trans_form.coordinate1 direction=trans_form.direction1 default_chromosome='chr14' default_coordinate=29266299 default_direction=H %}
                    <hr>
                    {% include 'tadeus/breakpoint_form.html' with chromosome=trans_form.chrom2 coordinate=trans_form.coordinate2 direction=trans_form.direction2 default_chromosome='chr6' default_coordinate=7903163 default_direction=H %}

                     <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="text-left"><a href="{% url 'browser:breakpoint_browser' p_id=1 %}?wildtype_option=3&left_coordinate=chr14%3A29266299&right_coordinate=chr6%3A7903163&left_inverse=false&right_inverse=true&size=&shift=&interval_start=&interval_end=">Case study FOXG1</a></div>
                        </div>

                        <div class="form-group col-md-6">
                            <div class="text-right"><button type="submit" class="btn btn-primary btn-lg active">Evaluate</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <div class="col-md-12" style="margin-top:20px">
        <form action="{% url 'evaluation:evaluate_cnv' %}" method="get">
            {% csrf_token %}
            <div class="card  border-primary ">
                <div class="card-header bg-primary text-white">
                    Copy number variation evaluation
                </div>
                <div class="card-body">

                    <div class="form-row" >

                        <div class="form-group col-md-4" >
                            {{ cnv_form.cnv_type.errors }}
                            <label for="{{ cnv_form.cnv_type.id_for_label }}">Type</label>
                            <select name="{{ cnv_form.cnv_type.html_name }}" class="form-control"  id="{{ cnv_form.cnv_type.id_for_label }}" required>
                                <option value="1">Deletion</option>
                                <option value="2">Duplication</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-row" >

                        <div class="form-group col-md-4" >

                            {{ cnv_form.chrom.errors }}
                             <label for="{{ cnv_form.chrom.id_for_label }}">Chromosome</label>

                            <select name="{{ cnv_form.chrom.html_name }}" class="form-control"  id="{{ cnv_form.chrom.id_for_label }}" required>
                            {% for s_chromosome in chromosomes %}
                                <option value="{{ s_chromosome.name }}" {% if chromosome.value|default:'chr2'  == s_chromosome.name %}selected{% endif %}>{{ s_chromosome.name }}</option>
                            {% endfor %}
                            </select>


                        </div>

                        <div class="form-group col-md-4" >

                            {{ cnv_form.start_coordinate.errors }}
                            <label for="{{ cnv_form.start_coordinate.id_for_label }}">Start coordinate (hg38)</label>
                            <input class="form-control" type="number" name="{{ cnv_form.start_coordinate.html_name }}" id="{{ cnv_form.start_coordinate.id_for_label }}" value="{{ cnv_form.start_coordinate.value|default:161449756}}" required>

                        </div>

                        <div class="form-group col-md-4" >


                            {{ cnv_form.end_coordinate.errors }}
                           <label for="{{ cnv_form.end_coordinate.id_for_label }}">End coordinate (hg38)</label>
                            <input class="form-control" type="number" name="{{ cnv_form.end_coordinate.html_name }}" id="{{ cnv_form.end_coordinate.id_for_label }}" value="{{ cnv_form.ens_coordinate.value|default:161730703}}" required>

                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <!--    <div class="text-left"><a href="{% url 'browser:breakpoint_browser' p_id=1 %}">Case study PLP1</a></div>-->
                        </div>
                        <div class="form-group col-md-6">
                            <div class="text-right"><button type="submit" class="btn btn-primary btn-lg active">Evaluate</button></div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>


</div>
