
<div class="card-body">

    <div class="form-row">

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='min_value' %}>" id="id_el_min_value">

            {{ form.min_value.errors }}

            <label for="{{ form.min_value.id_for_label }}">Minimum value</label>

            <input class="form-control" name="{{ form.min_value.html_name }}" id="{{ form.min_value.id_for_label }}" {% if form.min_value.value is not None %} value="{{ form.min_value.value}}" {% endif %}  {% if readonly %}readonly{% endif %}>

        </div>

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='max_value' %}" id="id_el_max_value">

            {{ form.max_value.errors }}
            <label for="{{ form.max_value.id_for_label }}">Maximum value</label>
            <input  class="form-control"  name="{{ form.max_value.html_name }}" id="{{ form.max_value.id_for_label }}" {% if form.max_value.value is not None %} value="{{ form.max_value.value}}" {% endif %}  {% if readonly %}readonly{% endif %}>

        </div>

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='bed_display' %}" id="id_el_bed_display">

            {{ form.bed_display.errors }}

            <label for="{{ form.bed_display.id_for_label }}">Display</label>

            <select id="{{ form.bed_display.id_for_label }}" class="form-control" name="{{ form.bed_display.html_name }}"  {% if readonly %}disabled{% endif %}>

            {% for x,y in form.fields.bed_display.choices %}
                <option value="{{ x }}" {% if form.bed_display.value|add:0 == x %} selected{% endif %}>{{ y }}</option>
            {% endfor %}

            </select>

        </div>

        <div class="col-md-3  {% include 'tracks/file_types_classes.html' with attribute='name_filter' %}"  id="id_el_name_filter">
            <div class="form-check">
                <input type="checkbox" name="{{ form.name_filter.html_name }}" id="{{ form.name_filter.id_for_label }}" {% if form.name_filter.value %}checked{% endif %} {% if readonly %}disabled{% endif %}/>
                <label class="form-check-label" for="{{ form.name_filter.id_for_label }}">Name filter</label>
            </div>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='height' %}" id="id_el_height">
            <label for="{{ form.height.id_for_label }}">Height</label>

            {{ form.height.errors }}

            <input class="form-control" type="number" name="{{ form.height.html_name }}" id="{{ form.height.id_for_label }}" value="{{ form.height.value}}" {% if readonly %}readonly{% endif %}>
        </div>

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='color' %}" id="id_el_color">
            <label for="{{ form.color.id_for_label }}">Color</label>

            {{ form.color.errors }}

            <input class="form-control" type="color" name="{{ form.color.html_name }}" id="{{ form.color.id_for_label }}" value="{{ form.color.value}}" {% if readonly %}readonly{% endif %}>
        </div>

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='edgecolor' %}" id="id_el_edgecolor">
            <label for="{{ form.edgecolor.id_for_label }}">Border color</label>

            {{ form.edgecolor.errors }}

            <input class="form-control" type="color" name="{{ form.edgecolor.html_name }}" id="{{ form.edgecolor.id_for_label }}" value="{{ form.edgecolor.value}}" {% if readonly %}readonly{% endif %}>
        </div>

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='colormap' %}" id="id_el_colormap">

            {{ form.colormap.errors }}

            <label for="{{ form.colormap.id_for_label }}">Colormap</label>

            <select id="{{ form.colormap.id_for_label }}" class="form-control" name="{{ form.colormap.html_name }}"  {% if readonly %}disabled{% endif %}>

            {% for x,y in form.fields.colormap.choices %}
                <option value="{{ x }}" {% if form.colormap.value == x %} selected{% endif %}>{{ y }}</option>
            {% endfor %}

            </select>
        </div>

        <div class="form-group col-md-3 {% include 'tracks/file_types_classes.html' with attribute='bed_style' %}" id="id_el_bed_style">

            {{ form.bed_style.errors }}

            <label for="{{ form.bed_style.id_for_label }}">BED Style</label>

            <select id="{{ form.bed_style.id_for_label }}" class="form-control" name="{{ form.bed_style.html_name }}"  {% if readonly %}disabled{% endif %}>

            {% for x,y in  form.fields.bed_style.choices  %}
                <option value="{{ x }}" {% if form.bed_style.value|add:0 == x %} selected{% endif %} >{{ y }}</option>
            {% endfor %}

            </select>
        </div>

        <div class="col-md-2  {% include 'tracks/file_types_classes.html' with attribute='inverted' %}" id="id_el_inverted">

            <div class="form-check">
                <input type="checkbox" name="{{ form.inverted.html_name }}" id="{{ form.inverted.id_for_label }}" {% if form.inverted.value %}checked{% endif %} {% if readonly %}disabled{% endif %}/>
                <label class="form-check-label" for="{{ form.inverted.id_for_label }}">Inverted</label>

            </div>
        </div>

        <div class="col-md-2  {% include 'tracks/file_types_classes.html' with attribute='labels' %}" id="id_el_labels">
            <div class="form-check">
                <input type="checkbox" name="{{ form.labels.html_name }}" id="{{ form.labels.id_for_label }}" {% if form.labels.value %}checked{% endif %} {% if readonly %}disabled{% endif %}/>
                <label class="form-check-label" for="{{ form.labels.id_for_label }}">Labels</label>
            </div>
         </div>
    </div>

    <div class="form-row">

        <div class="form-group col-3 {% include 'tracks/file_types_classes.html' with attribute='bedgraph_display' %}" id="id_el_bedgraph_display">
            <label for="{{ form.bedgraph_display.id_for_label }}">Display</label>
            <select id="{{ form.bedgraph_display.id_for_label }}" class="form-control" name="{{ form.bedgraph_display.html_name }}"  {% if readonly %}disabled{% endif %}>

                {% for x,y in form.fields.bedgraph_display.choices %}
                    <option value="{{ x }}"{% if form.bedgraph_display.value|add:0 == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group col-3 {% include 'tracks/file_types_classes.html' with attribute='bedgraph_type' %}" id="id_el_bedgraph_type">
            <label for="{{ form.bedgraph_type.id_for_label }}">Type</label>
            <select id="{{ form.bedgraph_type.id_for_label }}" class="form-control" name="{{ form.bedgraph_type.html_name }}"  {% if readonly %}disabled{% endif %}>

                {% for x,y in form.fields.bedgraph_type.choices %}
                    <option value="{{ x }}"{% if form.bedgraph_type.value|add:0 == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}

            </select>
        </div>

        <div class="form-group col-md-3  {% include 'tracks/file_types_classes.html' with attribute='bedgraph_style' %}" id="id_el_bedgraph_style">

            <label for="{{ form.bedgraph_style.id_for_label }}">BEDgraph style</label>
            <select id="{{ form.bedgraph_style.id_for_label }}" class="form-control" name="{{ form.bedgraph_style.html_name }}"  {% if readonly %}disabled{% endif %}>

            {% for x,y in form.fields.bedgraph_style.choices %}
                <option value="{{ x }}" {% if form.bedgraph_style.value|add:0 == x %} selected{% endif %}>{{ y }}</option>
            {% endfor %}

            </select>

        </div>

        <div class="form-group col-3  {% include 'tracks/file_types_classes.html' with attribute='bin_size' %}" id="id_el_bin_size">

            {{ form.bin_size.errors }}

            <label for="{{ form.bin_size.id_for_label }}">Bin size</label>
            {{ form.max_value.errors }}
            <input  class="form-control"  name="{{ form.bin_size.html_name }}" id="{{ form.bin_size.id_for_label }}" {% if form.bin_size.value is not None %} value="{{ form.bin_size.value}}" {% endif %}  {% if readonly %}readonly{% endif %}>
        </div>

    </div>

</div>
