<div class="card-body">

    <div class="form-row">

        <div class="form-group col-md-{% if file_type  == 'HI' %}10{% else %}12{% endif %}">
            <label>Track file</label>
            <input class="form-control"  value="{{  track.track_file.name   }}" readonly>
        </div>

        {% if file_type == 'HI' %}
            <div class="form-group col-md-2">
                <label>Track type</label>
                <select id="{{ form.hic_display.id_for_label }}" class="form-control" name="{{ form.hic_display.html_name }}"  readonly>

                {% for x,y in form.fields.hic_display.choices %}
                    <option value="{{ x }}"{% if form.hic_display.value|add:0 == x %} selected{% endif %}>{{ y }}</option>
                {% endfor %}
                </select>
            </div>
        {% endif %}

    </div>

    <div class="form-row">

        <div class="form-group col-md-9">
            <label for="{{ form.title.id_for_label }}">Title</label>
            {{ form.title.errors }}
            <input class="form-control" name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}" {% if form.title.value  %} value="{{ form.title.value}}" {% endif %} {% if readonly %}readonly{% endif %}>
        </div>


        <div class="form-group col-md-3">
            <label for="{{ form.no.id_for_label }}">Sort order</label>

            {{ form.no.errors }}

            <input class="form-control" type="number" name="{{ form.no.html_name }}" id="{{ form.no.id_for_label }}" value="{{ form.no.value}}" {% if readonly %}readonly{% endif %}>
        </div>
    </div>

    {% if form.chromosome or form.start_coordinate or form.end_coordinate or form.aggregate_function or form.transform or form.domains_file %}

        <div class="form-row">

            {% if form.chromosome %}

                <div class="form-group col-md-3">
                    <label for="{{ form.chromosome.id_for_label }}">Chromosome</label>

                    {{ form.chromosome.errors }}

                    <select name="{{ form.chromosome.html_name }}" class="form-control"  id="{{ form.chromosome.id_for_label }}" {% if readonly %}readonly{% endif %} required>>
                        {% for chromosome in chroms %}
                            <option value="{{ chromosome.id }}" {% if form.chromosome.value|add:0   == chromosome.id %}selected{% endif %}>{{ chromosome.name }}</option>
                        {% endfor %}
                    </select>
                </div>

            {% endif %}

            {% if form.start_coordinate %}

                <div class="form-group col-md-3">
                    <label for="{{ form.start_coordinate.id_for_label }}">Start coordinate</label>

                    {{ form.start_coordinate.errors }}

                    <input class="form-control" type="number" name="{{ form.start_coordinate.html_name }}" id="{{ form.start_coordinate.id_for_label }}" value="{{ form.start_coordinate.value}}" {% if readonly %}readonly{% endif %} required>
                </div>

            {% endif %}

            {% if form.end_coordinate %}

                <div class="form-group col-md-3">
                    <label for="{{ form.end_coordinate.id_for_label }}">End coordinate</label>

                    {{ form.end_coordinate.errors }}

                    <input class="form-control" type="number"  name="{{ form.end_coordinate.html_name }}" id="{{ form.end_coordinate.id_for_label }}" value="{{ form.end_coordinate.value}}" {% if readonly %}readonly{% endif %} required>

                </div>

            {% endif %}

            {% if form.aggregate_function %}

                <div class="form-group col-md-3">
                    <label for="{{ form.aggregate_function.id_for_label }}">Aggregate function</label>

                    {{ form.aggregate_function.errors }}

                    <select id="{{ form.aggregate_function.id_for_label }}" class="form-control" name="{{ form.aggregate_function.html_name }}"  {% if readonly %}disabled{% endif %}>
                        {% for x,y in form.fields.aggregate_function.choices %}
                            <option value="{{ x }}"{% if form.aggregate_function.value == x %} selected{% endif %}>{{ y }}</option>
                        {% endfor %}
                    </select>
                </div>

            {% endif %}


            {% if form.transform %}

                <div class="form-group col-md-3">

                    {{ form.transform.errors }}

                    <label for="{{ form.transform.id_for_label }}">Transform</label>

                    <select id="{{ form.transform.id_for_label }}" class="form-control" name="{{ form.transform.html_name }}"  {% if readonly %}disabled{% endif %}>

                        {% for x,y in form.fields.transform.choices %}
                            <option value="{{ x }}"{% if form.transform.value == x|add:0 %} selected{% endif %}>{{ y }}</option>
                        {% endfor %}

                    </select>
                </div>

            {% endif %}

            {% if form.domains_file %}

                <div class="form-group col-md-4">

                    {{ form.domains_file.errors }}

                    <label for="{{ form.domains_file.id_for_label }}">Domains datasource</label>

                    <select id="{{ form.domains_file.id_for_label }}" class="form-control" name="{{ form.domains_file.html_name }}"  {% if readonly %}disabled{% endif %}>

                        <option value="">None</option>

                        {% for domains_file in domains_files %}
                            <option value="{{ domains_file.id }}"{% if form.domains_file.value|add:0  == domains_file.id %} selected{% endif %}>{{ domains_file.name }}</option>
                        {% endfor %}

                    </select>
                </div>

            {% endif %}
        </div>
    {% endif %}
</div>
