{% extends 'tadeus_portal/base_card.html' %}


{% block begin %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'plots:index' %}">Plots</a></li>
        <li class="breadcrumb-item"><a href="{% url 'plots:update' p_id=track.plot.id %}">{{ track.plot.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ track.track_file.name }} </li>
    </ol>
</nav>


<form action="{% url 'tracks:update' p_id=p_id %}" method="post">
{% endblock %}

{% block header %}

    <div class="float-right" role="group">

        <a href="{% url 'plots:update' p_id=track.plot.id  %}" class="btn btn-primary btn-lg active pull-right" role="button" aria-pressed="true">Cancel</a>

        {% if not readonly and p_id %}
            <a href="{% url 'tracks:delete' p_id=p_id %}" class="btn btn-primary btn-lg active pull-right" role="button" aria-pressed="true" onclick="return confirm('Are you sure you want to delete this track?')">Delete</a>
            <button type="submit" class="btn btn-primary btn-lg active">Save</button>
        {% endif%}

        {% if p_id %}
            <a href="{% url 'browser:browser' p_id=track.plot.id  %}" class="btn btn-primary btn-lg active pull-right" role="button" aria-pressed="true"  title="Browser"><i class="fas fa-sliders-h"></i></a>
            <a href="{% url 'browser:breakpoint_browser' p_id=track.plot.id  %}" class="btn btn-primary btn-lg active pull-right" role="button" aria-pressed="true" title="Breakoint browser"><i class="fas fa-exchange-alt"></i></a>
        {% endif %}

    </div>

{% endblock %}

{% block body %}
    {% csrf_token %}




    <div class="accordion" id="options">
        <div class="card">
            <div class="card-header bg-primary" id="basic_options_heading">
                <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Basic options</button>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="basic_options_heading" data-parent="#options">

                {% include 'tracks/basic_options.html' %}

            </div>
        </div>

        <div class="card">
            <div class="card-header" id="advanced_options_heading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Advanced options</button>
                </h2>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="advanced_options_heading" data-parent="#options">

                {% include 'tracks/advanced_options.html' %}

            </div>
        </div>

        {% if form.subtracks %}

        <div class="card">
            <div class="card-header" id="headingThree">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Subtracks</button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#options">
                {% include 'tracks/subtracks.html' %}
            </div>
        </div>

        {% endif %}
    </div>


</form>


{% endblock %}


{% block javascript %}

<script>

function is_view_selected() {
    return $("input:radio[name ='subtrack_view']:checked").val() == 'selected';
}

if (is_view_selected()) {
    hide_not_selected_subtracks();
}

function hide_not_selected_subtracks() {
    $("#subtrack-table input:checkbox:not(:checked)").parent().parent().parent().hide();
}

function show_all_subtracks() {
    $("#subtrack-table input:checkbox").parent().parent().parent().show();
}

$('input[type=radio][name=subtrack_view]').change(function() {
    if (this.value == 'selected') {
        hide_not_selected_subtracks();
    }
    else  {
        show_all_subtracks();
    }
});

$("#subtrack-table input:checkbox").change(function(event) {
    var checked = $(this).is(":checked")

    if(! checked && is_view_selected() ){
        $(this).parent().parent().parent().hide();
    }
});

</script>

{% endblock %}
