{% extends 'tadeus_portal/base_card.html' %}
{% load render_table from django_tables2 %}


{% block begin %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item">Plots</li>
    </ol>
</nav>


{% endblock %}

{% block header %}

    <div class="float-right" role="group">

    <a href="{% url 'index' %}" class="btn btn-primary btn-lg active pull-right" role="button" aria-pressed="true">Cancel</a>

    
    <a href="{% url 'plots:create' %}" class="btn btn-primary btn-lg active pull-right" role="button" aria-pressed="true">Create</a>
    
    </div>

{% endblock %}


{% block body %}


{% if filter %}

    <div style="margin-bottom: 20px">
        <form action="" method="get" class="form-inline">
            <label for="{{ filter.form.name.id_for_label }}" class="mr-sm-2">Name</label>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0"  name="{{ filter.form.name.html_name }}" id="{{ filter.form.name.id_for_label }}">

            <label for="{{ filter.form.title.id_for_label }}" class="mr-sm-2">Title</label>
            <input class="form-control mb-2 mr-sm-2 mb-sm-0"  name="{{ filter.form.title.html_name }}" id="{{ filter.form.title.id_for_label }}">


            <label for="{{ filter.form.assembly.id_for_label }}" class="mr-sm-2">Assembly</label>
            <select id="{{ filter.form.assembly.id_for_label }}" class="form-control mb-2 mr-sm-2 mb-sm-0"   name="{{ filter.form.assembly.html_name }}">
            
            {% for value, text in filter.form.assembly.field.choices %}
                    {% if value != '' %}
                        <option value="{{ value }}" {% if filter.form.assembly.value|add:0   == value %} selected{% endif %}>{{ text }}</option>
                    {% else %}
                        <option value="">All</option>
                    {% endif %}
            {% endfor %}

                </select>

            <button class="btn btn-primary active" role="button" aria-pressed="true" >Filter</button>
        </form>
    </div>
{% endif %}


{% render_table table %}

{% endblock %}

   