{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
        <script src="{% static 'FileSaver.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js" integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>TADeus2</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom: 30px">
            <a class="navbar-brand" href="{% url 'index'%}">TADeus2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'evaluation:index' %}">Evaluate SVs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'plots:index' %}">Plots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'datasources:index' %}">Data sources</a>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-ontologies" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ontologies</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-ontologies">
                            <a class="dropdown-item" href="{% url 'ontologies:phenotypes' p_db='HPO' %}">HPO - Human Phenotype Ontology</a>
                            <a class="dropdown-item" href="{% url 'ontologies:phenotypes' p_db='OMIM' %}">OMIM - Online Mendelian Inheritance in Man</a>
                            <a class="dropdown-item" href="{% url 'ontologies:genes' %}">Genes</a>
                        </div>
                    </li>
                    <li class="nav-item  dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-help" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown-help">
                            <a class="dropdown-item" href="{% url 'help:sv_evaluation' %}">SV evaluation</a>
                            <a class="dropdown-item" href="{% url 'help:genome_browser' %}">Genome browser</a>
                            <a class="dropdown-item" href="{% url 'help:plots' %}">Plots</a>
                            <a class="dropdown-item " href="{% url 'help:datasources' %}">Datasouces</a>
                            <a class="dropdown-item" href="{% url 'help:ontologies' %}">Ontologies</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'help:about' %}">About</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--<div class="navbar-form navbar-right">
            {% if user.is_authenticated %}
                <form method="post" action="/accounts/logout/">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Logout</button>
                </form>
            {% else %}
                <a id="google_login" href="/accounts/google/login" class="btn btn-outline-light">
                    Sign in with Google
                </a>
            {% endif %}
        </div>-->
    </nav>

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascript %}{% endblock %}

  </body>
</html>
