{% extends 'tadeus_portal/base_card.html' %}

{% load humanize %}

{% block header %}


<div style="display: table; margin: 0 auto;">

    <div class="btn-toolbar mb-3" role="toolbar" aria-label="" style="padding-top: 20px;">

        <form action="{% url 'browser:breakpoint_browser' p_id=p_id p_breakpoint_id=p_breakpoint.id %}" method="get" >
            <div class="form-row">

                <div class="btn-group mr-2" role="group" aria-label="">
                    <a href="{% url 'browser:breakpoint_browser' p_id=p_id p_breakpoint_id=p_breakpoint.id %}?{{zoom_in|safe}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" title="zoom in"><i class="fas fa-search-plus"></i></a>
                    <a href="{% url 'browser:breakpoint_browser' p_id=p_id p_breakpoint_id=p_breakpoint.id %}?{{zoom_out|safe}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" title="zoom out"><i class="fas fa-search-minus"></i></a>
                </div>


                <div class="btn-group mr-2" role="group" aria-label="">
                    <a href="{% url 'browser:breakpoint_browser' p_id=p_id p_breakpoint_id=p_breakpoint.id %}?{{move.0.0|safe}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" title="move to {{ move.0.1 }} % the left"><i class="fas fa-angle-double-left"></i></a>
                    <a href="{% url 'browser:breakpoint_browser' p_id=p_id p_breakpoint_id=p_breakpoint.id %}?{{move.1.0|safe}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" title="move to {{ move.1.1 }} % the left"><i class="fas fa-angle-left"></i></a>
                    <a href="{% url 'browser:breakpoint_browser' p_id=p_id p_breakpoint_id=p_breakpoint.id %}?{{move.2.0|safe}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" title="move to {{ move.2.1 }} % the right"><i class="fas fa-angle-right"></i></a>
                    <a href="{% url 'browser:breakpoint_browser' p_id=p_id p_breakpoint_id=p_breakpoint.id  %}?{{move.3.0|safe}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" title="move to {{ move.3.1 }} % the right"><i class="fas fa-angle-double-right"></i></a>
                </div>

                <div class="input-group mr-2">
                    <div class="input-group-prepend">
                        <button class="btn btn-danger btn-lg"><i class="fas fa-{% if p_breakpoint.left.inverse  %}backward{% else %}forward{% endif %}"></i></button>
                    </div>

                    <div class="input-group-append">
                        <span class="input-group-text">{{ p_breakpoint.left_chrom }}:{{ p_breakpoint.left_coord |intcomma}}</span>
                    </div>

                    <div class="input-group-append" style="border-left: 4px solid #dc3545;">
                        <span class="input-group-text">{{ p_breakpoint.right_chrom }}:{{ p_breakpoint.right_coord |intcomma }}</span>
                    </div>

                    <div class="input-group-append">
                        <button class="btn btn-danger btn-lg"><i class="fas fa-{% if p_breakpoint.right.inverse  %}backward{% else %}forward{% endif %}"></i></button>
                    </div>
                </div>


                <div class="input-group mr-2">
                    <input type="number" class="form-control" placeholder="Enter size"  name="size" style="width: 150px">
                    <input type="number" class="form-control" placeholder="Enter shift"  name="shift" style="width: 150px">
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-lg" type="submit" value="Submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>

                {% if p_name_filters %}
                    <div class="input-group mr-2">
                        <select name="name_filter" class="form-control" style="height: 48px">
                            <option value="" {% if name_filter is None %} selected{% endif %}>All</option>
                            {% for x in p_name_filters %}
                                <option value="{{ x }}" {% if name_filter == x %} selected{% endif %}>{{ x }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-lg" type="submit" value="Submit"><i class="fas fa-filter"></i></button>
                        </div>
                    </div>

                {% endif %}

                <input type="hidden" name="interval_start" value="{{ interval_start }}">
                <input type="hidden" name="interval_end" value="{{ interval_end }}">
                <a href="{% url 'plots:update' p_id=p_id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" title="edit"><i class="fas fa-edit"></i></a>

            </div>
        </form>
    </div>
</div>

{% endblock %}


{% block body %}

 <div style="display: table; margin: 0 auto;">

    {% for col,  tracks in p_plot.getColumnsDict.items %}

        <table style="float:left">
            <tr>

                {% if p_breakpoint.left_start %}
                    <td style="text-align: center">{{p_breakpoint.left_chrom}}:{%if p_breakpoint.left_start > 0 %}{{p_breakpoint.left_start|intcomma}}{% else %}0{% endif %}-{{p_breakpoint.left_end|intcomma}}</td>
                {% endif %}

                {% if p_breakpoint.right_start %}
                    <td style="text-align: center">{{p_breakpoint.right_chrom}}:{%if p_breakpoint.right_start > 0 %}{{p_breakpoint.right_start|intcomma}}{% else %}0{% endif %}-{{p_breakpoint.right_end|intcomma}}</td>
                    {% endif %}
                </tr>

                {% for p_track in  tracks %}
                    <tr>

                    {% if p_breakpoint.left_start %}

                        <td  {% if p_breakpoint.right_start %}style="border-right: 4px solid #dc3545;"{% endif %}>

                            <img src="{% url 'browser:image' p_id=p_track.id p_cols=1 p_chrom=p_breakpoint.left_chrom.name p_start=p_breakpoint.left_start  p_end=p_breakpoint.left_end  p_breakpoint_id=p_breakpoint.id  p_left_side=1  p_width_prop=p_breakpoint.left_width_prop %}{{ get_url|safe }}" alt="Track">

                        </td>

                    {% endif %}

                    {% if p_breakpoint.right_start %}

                        <td>
                            <img src="{% url 'browser:image' p_id=p_track.id p_cols=1 p_chrom=p_breakpoint.right_chrom.name p_start=p_breakpoint.right_start  p_end=p_breakpoint.right_end p_breakpoint_id=p_breakpoint.id   p_left_side=0  p_width_prop=p_breakpoint.right_width_prop %}{{ get_url|safe }}" alt="Track">
                        </td>

                  {% endif %}

            </tr>
        {% endfor %}
        </table>

    {% endfor %}

 </div>

{% endblock %}
