{% load humanize %}

    <table class="table">
        <thead>
            <tr>
                <th width="8%" style="border-top:none;">Gene symbol</th>
                <th width="8%" style="border-top:none;">pLI</th>
                <th width="8%" style="border-top:none;">ClinGen</th>
                <th width="8%" style="border-top:none;">ClinGen score</th>
                <th width="8%" style="border-top:none;">Enhancer- promoter interactions number</th>
                <th width="8%" style="border-top:none;">Enhancer- promoter interactions score</th>
                <th width="8%" style="border-top:none;">Phenotype score</th>
                <th width="8%" style="border-top:none;">Distance from breakpoints</th>
                <th width="8%" style="border-top:none;">Distance from breakpoints score (distance below 1Mb)</th>
                <th width="8%" style="border-top:none;">Rank</th>
                <th  style="border-top:none;">Phenotype information</th>
            </tr>
        </thead>

        <tbody>
            {% for result in results  %}
                <tr {% if result.1.rank >= 3 %} style="background-color: #f8d7da;"{% elif result.1.rank >= 2 %}  style="background-color: #fcedee;"{% endif %}>
                    <td >{{result.0}}</td>
                    <td>{{result.1.pLI|floatformat:4}}</td>
                    <td>{{result.1.clingen|floatformat:0}}</td>
                    <td>{{result.1.clingen_score|floatformat:0}}</td>
                    <td>{{result.1.enh_prom|floatformat}}</td>
                    <td>{{result.1.enh_prom_score|floatformat:0}}</td>
                    <td>{{result.1.phenotype_score}}</td>
                    <td>{{result.1.distance|intcomma}}</td>
                    <td>{{result.1.distance_1Mb_score}}</td>
                    <td>{{result.1.rank|floatformat:0}}</td>
                    <td>

                        {% if result.1.phenotypes.count != 0 %}
                            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapse-{{ result.1.gene.id }}"
                            aria-expanded="false" aria-controls="collapseExample">Show phenotypes</button>

                            <ul style="margin-top:1rem; margin-bottom: 1rem;" class="list-unstyled collapse" id="collapse-{{ result.1.gene.id }}">

                            {% for phenotype in result.1.phenotypes.all %}
                                <li>{{ phenotype.link}}  {% if  phenotype.name %}- {{ phenotype.name }} {% endif %}</li>
                            {% endfor %}

                            </ul>

                        {% else %}
                          No associated phenotypes
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
